@import "bootstrap/functions"
@import "bootstrap/variables"
$body-bg: #506477
$body-color: #42675a
$theme-colors: {
  "primary": #7390aa,
  "warn": #27e8a7,
  "danger": #df4576
}
@import "bootstrap"
body {
  font-size: 1000px
}